<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/NLog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  
  <variable name="logDirectory" value="logs/${shortdate}" />
  
  <targets>
    <!-- Target for writing to a file -->
    <target name="fileTarget" xsi:type="File" fileName="${logDirectory}/app.log" />

    <!-- Target for writing to a database -->
    <target name="databaseTarget" xsi:type="Database"  dbProvider="Npgsql.NpgsqlConnection, Npgsql">
      <connectionString>Server=localhost;Port=5432;Database=LogsDB;User Id=postgres;Password=root</connectionString>
      <commandText>
        INSERT INTO public.logtable (MachineName, LogDate, Level, Message, Logger, Callsite, Exception)
        VALUES (@MachineName, @LogDate, @Level, @Message, @Logger, @Callsite, @Exception)
      </commandText>

      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@LogDate" layout="${longdate}" />
      <parameter name="@Level" layout="${level:uppercase=true}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Callsite" layout="${callsite}" />
      <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="databaseTarget" />

    <logger name="*" minlevel="Info" writeTo="fileTarget" />
  </rules>
</nlog>

<!-- Creating a table for logs -->
<!--CREATE TABLE public.logtable (
ID SERIAL PRIMARY KEY,
MachineName VARCHAR(50),
LogDate TEXT,
Level VARCHAR(10),
Message TEXT,
Logger VARCHAR(255),
Callsite TEXT,
Exception TEXT
);-->

